<div class="top_menu">
	<div class="container">
		<div class="col-lg-2 col-md-2 col-xs-5 col-sm-3 pl-nl pr-nr">
				<div class="logo">
					<a href="#">
						<img src="img/logo.svg" class="visible-xs" id="xs_logo">
						<img src="img/LogoMoline.png" alt="" class="large_logo">
					</a>
				</div>
		</div>
		
		<div class="col-lg-8 col-sm-6 col-md-7 hidden-xs pn-sm-l pn-sm-r">
				{# {% if categories %} #}
				<nav>
						<ul>
							{# {% for category in categories %} #}
							{# <li><a href="{{ category.href }}">{{ category.name }}</a></li> #}
							{# {% endfor %} #}

							<li><a href="#">Главная</a></li>
							<li><a href="#">Акции</a></li>
							<li><a href="#">Новинки</a></li>
							<li><a href="#">Доставка</a></li>
							<li><a href="#" class="visible-md visible-lg">Оплата</a></li>
							<li><a href="#" class="visible-md visible-lg">О нас</a></li>
							<li><a href="#" class="visible-md visible-lg">Вопрос</a></li>
							<li class="visible-lg"><a href="#">Сотрудничество</a></li>
							<li class="visible-lg"><a href="#">Контакты</a></li>
						</ul>
					</nav>
				{# {% endif %} #}
		</div>
		<div class="col-lg-2 col-md-3 col-xs-7 col-sm-3 pl-nl pr-nr pn-sm-l pn-sm-r">
			<div class="r_wrap">
					<div class="ddb_wrap ">
							<div class="drop_down_button">
									<div class="dot"></div>
									<div class="dot"></div>
									<div class="dot"></div>
							</div>
					</div>
					<div class="r_info">
							0-800-150-3232
							<br>
							<span class="street">ул.Маяковского 132</span>
					</div>
				</div>
			</div>			
	</div>
</div>