<section class="s_white b_plugin">
	<div class="container">
		<div class="row">
			<div class="s_header_wrap ">
				<h2>{{ heading_title_name }} </h2>
			</div>
		</div>
		<div class="row grid"> 
			<div id="p_list">
				{{product_list}}
			</div>
		</div>
		<div class="row">
			<div class="s_bottom text-center">
				<button class="text_btn"><a href={{more_link}}>Все предложения</a></button>
			</div>
		</div>

	</div>
</section>
