<section class="s_gray">
	<div class="container">
		<div class="row">
			<div class="s_header_wrap ">
				<h2>{{ heading_title }}</h2>
			</div>
		</div>
		<div class="row">
			<div id="p_list">
				{{product_list}}
			</div>
		</div>
		<div class="row">
			<div class="s_bottom text-center">
				<button class="text_btn">Все предложения</button>
			</div>
		</div>

	</div>
</section>
