<div style="padding: 40px 0;">

  <p style="
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  ">Спасибо!</p>
  <br>
  <p style="
  text-align: center;
  ">Ваш заказ успешно оформлен. Мы свяжимся с вами в ближайшее время.
</p><p style="
text-align: center;
">Номер вашего заказа #{{order_id}}
</p>

<button class="button_form primary_btn" onclick="location = '{{ home_link }}'" style=" 
display: block;
margin: 0 auto;
padding: 5px 36px;
">Продолжить покупки</button>
</div>